.rfq-form {
  width: 650px;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.x {
  right: -10px;
  top: -10px;
}

:root {
  --rich-black-forga: #081c24;
  --shadow-blue: #788aa3;
}

.checkbox.checked {
  border: 1px solid var(--shadow-blue);
  background: #eceff1;
}

.checkbox.checked label::after {
  border-color: #fff;
}

.checkbox.checked label::before {
  border-color: var(--rich-black-forga);
  background: var(--rich-black-forga);
}

.checkbox input[type="checkbox"] + label::after {
  content: none;
}

.checkbox input[type="checkbox"]:checked + label::after {
  content: "";
}

.checkbox label::after,
.checkbox label::before {
  position: absolute;
  content: "";
  display: inline-block;
  cursor: pointer;
}

.checkbox label::before {
  width: 20px;
  height: 20px;
  border: 2px solid var(--shadow-blue);
  border-radius: 4px;
  left: 12px;
  top: 13px;
  -webkit-transition: all ease-in-out 0.15s;
  transition: all ease-in-out 0.15s;
}

.checkbox label::after {
  left: 19px;
  top: 16px;
  width: 7px;
  height: 11px;
  border: 1px solid var(--rich-black-forga);
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: all ease-in-out 0.15s;
  transition: all ease-in-out 0.15s;
}
